.account-overview-block
{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
    font-family: BerkeleyStd;
    color: #505050;
    height: 230px;
}
.home-account-overview-block
{
    font-size: 14px;
    display: flex;
    column-gap: 13px;
    color: #505050;
    padding-bottom:40px;
}
.account-overview-text
{
    font-size: 42px;
    font-family: BerkeleyStd;
    color: #022737;
    padding-bottom: 10px;
}
.church-fund-text
{
    font-weight: bold;
    color:#022737;
    font-family: HelveticaNeue;
    font-size: 16px;
}
@media only screen and (min-width:280px) and (max-width:1110px)
{
    .account-overview-block 
    {
        max-width: 990px;
        margin: 0 auto;
    }
    .home-account-overview-block,.church-fund-text,.balance
    {
        padding-left: 10px;
    }
    .account-overview-text
    {
        font-size: 30px;
        padding-left: 10px;
    }

}