.accnt-overview
{
    max-width: 1086px;
    margin: 0 auto;
    padding-top: 40px;
    font-family: BerkeleyStd;
    color: #505050;
    height: 230px;
}
.accntbox
{
    font-size: 14px;
    display: flex;
    column-gap: 13px;
    color: #505050;
    padding-bottom:40px;
}
.accntbox2
{
    font-size: 42px;
    color: #022737;
    padding-bottom: 10px;
}
.church
{
    font-weight: bold;
}
@media only screen and (min-width:280px) and (max-width:1110px)
{
    .accnt-overview 
    {
        max-width: 990px;
        margin: 0 auto;
    }
    .accntbox,.church,.balance
    {
        padding-left: 10px;
    }
    .accntbox2
    {
        font-size: 30px;
        padding-left: 10px;
    }

}