.anotherfund-interestedparties-button-content
{
    max-width: 1086px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    column-gap: 20px;
}
.anotherfund-button,.invited-button
{
    height: 50px;
    width: 570px;
    font-size:16px;
    font-family: HelveticaNeue;
    background-color: #006778;
    color: white;
}
.Narrow-right-icon
{
    font-size: 23px;
    width: 40px;
    color: white;
}
@media only screen and (min-width:1024px) and (max-width:1100px)
{
    .anotherfund-interestedparties-button-content
    {
        max-width: 900px;
    }
}
@media only screen and (min-width:280px) and (max-width:1000px)
{
    .anotherfund-interestedparties-button-content
    {
        display:block;
        padding-left: 40px;
        padding-bottom: 38px;
    }
    .anotherfund-button,.invited-button
    {
        font-size: 12px;
        margin-bottom: 15px;
        width: 90%;
        height: 50px;
    }
    .Narrow-right-icon
    {
        font-size: 15px;
    }
}