.welcome-alert-content
{
    max-width: 1440px;
    margin: 0 auto;
    font-size: 14px;
    padding-left: 138px;
    padding-top: 12px;
    color: #505050;
    font-family: HelveticaNeue;
    
}
.welcome-alert-block
{  
    height: 44px;
    background-color: #eaeaea;
    border: 1px solid lightgray;
    border-left:none;
    border-right: none;
}
.vanguard-charitable-link
{
    text-decoration: underline;
    color: #006778;
}

@media only screen and (min-width:1024px) and (max-width:1300px)
{
    .welcome-alert-content
    {
        padding-left: 20px;
    }
}
@media only screen and (min-width:1106px) and (max-width:1300px)
{
    .welcome-alert-content
    {
    padding-left: 12.2%;
    }
}
@media only screen and (min-width:768px) and (max-width:1000px)
{
    .welcome-alert-content
    {
        padding-left: 50px;
    }
}

@media only screen and (min-width:280px) and (max-width:767px)
{
    .welcome-alert-block
    {
        height: 80px;
    }
    .welcome-alert-content
    {
        padding-left: 10px;
        width: calc(100% - 20px);
    }
}