.footer-btm
{
    height: 137px;
}
.shiplogo-block
{
    padding-top: 20px;
    text-align: center;
}
.bot-cpyryt
{
    padding-top: 20px;
    color: #505050;
    font-size: 12px;
    text-align: center;
}