.footer-bottom
{
    height: 137px;
}
.vanguard-shiplogo-block
{
    padding-top: 20px;
    text-align: center;
}
.footer-bottom-copyright
{
    padding-top: 20px;
    color: #505050;
    font-size: 12px;
    text-align: center;
}