.app-bar
{
    max-width: 1440px;
    margin:0 auto;
    background-color: #022737;
    height: 40px;
    color: white;
}
.app-bar-content
{
    float: right;
    padding-top: 10px;
    padding-right: 10%;
    display: flex;
    column-gap: 20px;
    font-family: HelveticaNeue;
    font-size: 14px;
    justify-content: space-between;
}
.app-bar-dropdown-name{
    width:220px;
    border-radius:36px;
    border:1px solid #cccccc;
    height:18px;
    outline:none;
  }
option
{
    color: #022737;
}
.mailletter,.user-icon
{
    font-size: 18px;
}
@media only screen and (min-width:280px) and (max-width:767px)
{
    #need-assistance-text
    {
        display:none;
    }
    .app-bar-content
    {
        padding-right: 10%;
    }
    .app-bar-dropdown-name{
        width:190px;
    }
}