.navigation-bar-vanguard-logo
{
    max-width: 1440px;
    margin:0 auto;
    height: 80px;
}
.false
{
    display: none;
}
.true
{
    display: block;
}
.navigation-bar-menu
{
     border:none;
     color: #022737;
     font-weight: bold;
     font-family: HelveticaNeue;
     font-size: 12px;
}
.navigation-bar-vanguard-content a:hover
{
    border-bottom: 5px solid #006778;
    padding-bottom: 25px;
}
.vanguard-logo,.navigation-bar-vanguard-content,.hamburger-menu-mobileview
{
    display: inline;
}
.vanguard-logo
{
    padding-left: 138px;
}
.vanguard-logo-img
{
    height: 60px;
    padding-top: 7px;
}
.navigation-bar-vanguard-content a
{
    padding: 35px 0px 0px 0px;
}
.navigation-bar-vanguard-content
{
    float: right;
    padding-right: 10%;
    display: flex;
    column-gap: 30px;
    color: #022737;
    font-weight: bold;
    font-size: 14px;
    font-family: HelveticaNeue;
}
@media only screen and (min-width:1024px)
{
    .hamburger-menu-mobileview
    {
        display: none;
    }
}
@media only screen and (min-width:1024px) and (max-width:1100px)
{
    .hamburger-menu-mobileview
    {
        display: none;
    }
    .vanguard-logo
    {
        padding-left: 20px;
    }
}
@media only screen and (min-width:280px) and (max-width:1023px)
{
    .vanguard-logo-navigation-block
    {
        max-width: 690px;
        margin: 0 auto;
    }
    .navigation-bar-vanguard-content
    {
        display: none;
    }
    .vanguard-logo
    {
        padding-left: 10px;
    }
    .vanguard-logo-img
    {
        padding-top: 15px;
        height:42px;
    }
    .hamburger-menu-mobileview
    {
        float: right;
        padding-top: 30px;
        padding-right: 35px;
        display: flex;
        column-gap: 20px;
        color: #022737;
        font-size: 26px;
    }
}